<h1>Master Home Page</h1>
<% @tweets.each do |tweet| %>
<%= tweet.user.first_name %> tweeted <%= tweet.body %> <%= time_ago_in_words tweet.created_at %> ago <br>
<%= link_to "Favorite", favorites_path(:tweet_id => tweet[:id], :tweet_id => session[:user_id]), method: :post%>
<% end %> 
